* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
  background: linear-gradient(#28313b, #485461) no-repeat center center fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

body,
input,
textarea,
button {
  font-family: 'montseratt', sans-serif;
  outline: none;
}
.websiteTitle {
  font-size: 2rem;
  text-align: center;
  color: white;
  padding-top: 1.5rem;
}
.titleText {
  color: #3aa76d;
}
/* disable anchor tag style */
a:link,
a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.wrapper {
  padding: 1.5rem;
  color: white;
}
/* searchBox section */

.searchBox h2 {
  font-size: 1.5rem;
  color: #f7ede2;
}
.errorMessage {
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 3rem;
  color: #bde5f8;
}
.searchBox {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  padding-bottom: 2rem;
}

.searchBox input {
  width: 90%;
  background-color: white;
  border: 0px solid;
  border-right: none;
  padding: 5px;
  height: 3rem;
  /* border-radius: 5px 0 0 5px; */
}

.searchBox button {
  height: 3rem;
  width: 10%;
  border: 0px solid;
  background: #3aa76d;
  text-align: center;
  color: #fff;
  /* border-radius: 0 5px 5px 0; */
  cursor: pointer;
}
/* image section */
.imageList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  gap: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 50px;
}
.imageCard {
  background: rgba(105, 104, 104, 0.5); /* Black background with 0.5 opacity */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  padding-bottom: 0.5rem;
}
.imageCard img {
  width: 100%;
}
.card-text {
  padding: 0.3rem 0 0 0.5rem;
  font-size: 1.5rem;
}
.card-text h2 {
  padding-bottom: 1rem;
}

/* footer */
#footer {
  /* relative to wrapper */
  position: absolute;
  color: black;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgba(255, 255, 255, 0.637);
  text-align: center;
  font-size: 1.2rem;
}
/* Recipe Page */
.infoContainer {
  margin-top: 2rem;
  border-top: solid lightgray;
  display: grid;
  gap: 1rem;

  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'header header'
    'recipeImage nutrition'
    'ingredients ingredients'
    'instructions instructions';
}
.infoContainer header {
  padding-top: 2rem;
  grid-area: header;
  text-align: center;
  font-size: 1.3rem;
  color: #3aa76d;
}
.recipeImage {
  grid-area: recipeImage;
  justify-self: end;
}
.recipeImage img {
  width: 100%;
  box-shadow: 0 8px 6px -6px black;
}
.ingredients h2 {
  color: #3aa76d;
}
.ingredients p {
  font-family: 'Indie Flower';
}
.ingredients {
  grid-area: ingredients;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1.7rem;
  text-align: center;
  border-top: solid lightgray;
  border-bottom: solid lightgray;
  padding: 10px 0;
}
.nutrition {
  grid-area: nutrition;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5rem;
}
.instructions {
  grid-area: instructions;
  font-size: 2rem;
  text-align: center;
  color: #3aa76d;
  padding-bottom: 1rem;
}
.instructions a {
  text-decoration: underline;
}
/* home button */
.homeButton {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}
.homeButton a {
  flex-grow: 1;
}
.homeButton button {
  width: 100%;
  border: none;
  background: #3aa76d;
  color: #ffffff;
  font-weight: 100;
  padding: 1.5rem;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.homeButton button:hover {
  color: #404040;
  font-weight: 700;
  letter-spacing: 3px;
  background: white;
  transition: all 0.3s ease 0s;
}
/* Media Queries */

/* tablet */
@media (min-width: 768px) {
  .imageList {
    grid-template-columns: repeat(3, 1fr);
  }
  .websiteTitle {
    font-size: 4rem;
    text-align: left;
    padding-left: 1.5rem;
  }

  .searchBox h2 {
    font-size: 3rem;
  }
  .searchBox input,
  .searchBox button {
    height: 5rem;
    font-size: 2.5rem;
  }
  #footer {
    font-size: 1.5rem;
  }
  .imageCard {
    transition: 0.5s ease;
    cursor: pointer;
    margin: 0.6rem;
  }
  .imageCard:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  }
  /* recipe page */
  .infoContainer {
    width: 90%;
    margin: 2rem auto 0 auto;
  }
  .infoContainer header {
    font-size: 2rem;
  }
  .nutrition {
    font-size: 2rem;
  }
  .ingredients {
    font-size: 2.1rem;
  }
  .instructions {
    font-size: 2.5rem;
  }
}
/* desktop */
@media (min-width: 992px) {
  .imageList {
    margin: 0 auto;
    max-width: 1300px;
    grid-template-columns: repeat(5, 1fr);
  }
  .card-text h2 {
    font-size: 2.2rem;
  }
  .card-text p {
    font-size: 2rem;
  }
  #footer {
    font-size: 1.7rem;
  }
}
